*{
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: "Noto Sans", sans-serif;
    background-color: black;
    color: white;

}
header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    border: 1px solid;
    background-color: black;
    color: aliceblue;

}
header ul{
    display: flex;
}
header ul li{
    margin: 15px;
    list-style: none;
}header ul li a{
    text-decoration: none;
}header img{
    border: 5px double chocolate;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
}.welcome{
    position: absolute;
    top: 40%;
    left: 40%;
    border: 6px double;
    padding: 30px;
}
.row{
    width: 100%;
    /* height: 600px; */
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    
}.col1{
    padding: 40px;
    text-align: justify;
/* }#name{
    background-color: black;
    text-align: center; */
    
}h2{
    background-color: black;
    text-align: center;
}
.flip-box {
    background-color: transparent;
    width: 250px;
    height: 250px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  .ser{
    width: 300px;
    border: 2px solid white;
    text-align: justify;
    padding: 10px;
  }h3{
    text-align: center;
    font-size: 20px;
  }.rowC{
    width: 400px;
    height: 30px;
    border: 2px solid;
    margin: 10px;
  }.Input{
   border: 0px;
   width: 400px;
   height:30px ;
  }
  .colC{
    width: 400px;
    height: 120px;
    /* border: 2px solid; */
    padding: 30px;
    position: absolute;
    left: 35%;
  }.inputText{
    width: 400px;
    height: 300px;
  }.rowC textarea{
    width: 400px;
    height: 200px;
    border: 2px solid;
  }.rowC button{
    margin-top: 180px;
    width: 400px;
    height: 30px;
  }.col{
    border-radius: 40px;
  }
    
  
